﻿<div>
    <kendo-grid detect-scroll
                [data]="data.games"
                [height]="600">
        <kendo-grid-column field="gameId" title="ID" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Player name" width="250">
        </kendo-grid-column>
        <kendo-grid-column [format]="mediumDate" field="gameCreationDate" title="Date of Creation">
        </kendo-grid-column>
        <kendo-grid-column width="300">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button style="text-align:center" kendoButton (click)="onButtonClick(dataItem.gameId)">Details</button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>