﻿<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/BlackJack.css")" rel="stylesheet" type="text/css" />

    <link href="https://kendo.cdn.telerik.com/2016.3.914/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.3.914/styles/kendo.material.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.3.914/styles/kendo.dataviz.material.min.css" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2016.3.914/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.3.914/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.3.914/js/kendo.aspnetmvc.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row k-header" style="text-align:left">
            <h1>Black Jack App</h1>
            <h1>@Html.ActionLink("Start Game", "Start", "Game")</h1>
            <h1>@Html.ActionLink("History", "ShowHistoryGrid", "History")</h1>
        </div>
    </div>

    @RenderBody()
</body>
</html>