﻿@model BlackJackApp.ViewModels.GameModels.PlayGameView
<link href="@Url.Content("~/Content/Flexes.css")" rel="stylesheet" type="text/css" />

<div style="text-align:right">
    <div id="playerTable">
        @{Html.RenderPartial("CreateNextRoundForPlayers", Model);}
    </div>

    <div id="dealerTable">
        @{Html.RenderPartial("CreateNextRoundForDealer", Model);}
    </div>
</div>
<div class="curGame" id="enough" style="text-align:center">
    @using (Html.BeginForm("Play", "Game", FormMethod.Post))
    {
        @Html.Hidden("id", Model.GameId);
        GetCardOption enough = GetCardOption.Enough;
        @Html.Hidden("param", enough);

        <div id="result">
            @Html.HiddenFor(r => Model.IsResultComplete)
        </div>
        <input type="submit" value="enough" id="takeButton" />
    }
</div>
<div class="curGame" id="take" style="text-align:center">
    @using (Ajax.BeginForm("Play", "Game", new AjaxOptions
    {
        UpdateTargetId = "playerTable",
        HttpMethod = "Post",
        OnSuccess = "OnSuccess",
    }))
    {

        @Html.Hidden("id", Model.GameId);
        @Html.HiddenFor(r => Model.IsResultComplete);

        GetCardOption take = GetCardOption.Take;
        @Html.Hidden("param", take);

        <input type="submit" value="take" id="enoughButton" />
    }
</div>
@Scripts.Render("~/bundles/StartGameView/current-game")
@Scripts.Render("~/bundles/jquery")



