﻿<link href="@Url.Content("~/Content/Flexes.css")" rel="stylesheet" type="text/css" />
<ul class="flex-container">
    @foreach (var user in Model.HistoryDetails)
    {

        <div class="flex-item">
            <div>@user.UserName</div>
            @foreach (var card in user.Cards)
            {
                <ul>@card.Rank / @card.Suit</ul>
            }
                <div>Sum of Cards: @user.CardSum</div>
            @if (user.UserName != "Dealer")
            {

                <div>Status: @user.Status</div>
            }
        </div>
    }
</ul>
